@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron text-center">
    @if (TempData["message"]!=null)
    {
        <div class="btn-primary btn"> @TempData["message"] </div>
    }
    @if(HttpContextAccessor.HttpContext.Session.GetString("username") != null)
    {
        <input type="button" value="Create" onclick="location.href='@Url.Action("Exam", "CreateExam")'" />
        <a asp-area="" asp-controller="Exam" asp-action="CreateExam">Create Exam</a>
    }
    else
    {
    <h1>www.konusarakogren.com'a Hoşgeldiniz</h1>        
    }
  <h2>Online İngilizce Öğrenmek İçin Doğru Adrestesiniz</h2>
  <h3>Ana Dili İngilizce Olan Eğitmenlerle, Günde 10, 20 veya 30 Dakikalık Derslerle İngilizce Öğrenin</h3> 
</div>