@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron text-center">
    @if (TempData["message"]!=null)
    {
        <p> @TempData["message"] </p>
    }
    @if(HttpContextAccessor.HttpContext.Session.GetString("username") != null)
    {
        <h1>To See Articles From www.wired.com/most-recent Please Click The "Get Articles" Button on Top Navigation Bar</h1> 
            <table class="table">
                <thead>
                    <tr>
                        <th><div class="col-4">Exam Article</div></th>
                    </tr>
                </thead>
                <tbody>
                        @foreach(var item in @Model.Exams)
                        {
                        <tr>
                            <td><div class="col-4">@item.ExamName</div></td>
                            <td>
                                <div class="col-4">
                                     <a href="/Exam/DeleteExam/@item.Id" class="btn btn-danger">Delete Exam</a>
                                </div>
                                <div class="col-4">
                                     <a href="/Exam/TakeExam/@item.Id" class="btn btn-primary">Take Exam</a>
                                </div>
                            </td>
                        </tr>
                        }
                </tbody>
            </table>            
    }
    else
    {
           
    }
</div>